In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:pwd4APAN5310@35.231.189.188/group7_inspections'
# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)
# Establish a connection
connection = engine.connect()

In [3]:
stmt="""
drop table records;
drop table facilities;
drop table local_health_department;
drop table locations;
drop table addresses;
drop table nysdoh_gazetteer;
drop table permissions;
drop table inspections;
drop table violations;
drop table violation_items;
drop table operations;
"""
connection.execute(stmt)

In [4]:
stmt = """
CREATE TABLE operations(
operation_id int,
nys_operation_id char(20),
operation_name varchar(100) NOT NULL,
operator_last_name varchar(500),
operator_first_name varchar(500),
description varchar(2000),
PRIMARY KEY(operation_id)
);

CREATE TABLE violation_items(
violation_item_id  int,
violation_item varchar(20),
item_description  varchar(10000),
PRIMARY KEY(violation_item_id)
);

CREATE TABLE violations(
violation_id int,
critical_violations integer,
critical_not_corrected integer,
noncritical_violations integer,
violation_item_id    int,
PRIMARY KEY(violation_id),
FOREIGN KEY(violation_item_id) REFERENCES violation_items(violation_item_id)
);

CREATE TABLE inspections(
inspection_id int,
inspection_type varchar(40) NOT NULL,
inspection_comments varchar(2000),
last_inspected_date date NOT NULL,
operation_id int NOT NULL,
violation_id     int NOT NULL,
PRIMARY KEY(inspection_id),
FOREIGN KEY(operation_id) REFERENCES operations(operation_id),
FOREIGN KEY(violation_id) REFERENCES violations(violation_id)
);

CREATE TABLE permissions(
permission_id int,
permit_expiration_date date,
permit_dba varchar(400),
permitted_corp_name varchar(100),
PRIMARY KEY(permission_id)
);

CREATE TABLE nysdoh_gazetteer(
nysdoh_gazetteer_id int,
nysdoh_gazetteer varchar(100),
municipality varchar(500) NOT NULL,
PRIMARY KEY(nysdoh_gazetteer_id)
);

CREATE TABLE addresses(
address_id int,
street_address varchar(1000) NOT NULL,
city varchar(40),
county varchar(40) NOT NULL,
zipcode varchar(15),
PRIMARY KEY(address_id)
);

CREATE TABLE locations(
location_id int,
longitude_and_latitude varchar(100) NOT NULL,
PRIMARY KEY(location_id)
);

CREATE TABLE local_health_department(
health_dept_id int,
health_dept_name varchar(100) NOT NULL,
PRIMARY KEY(health_dept_id)
);

CREATE TABLE facilities(
facility_id int,
permission_id int NOT NULL,
location_id int NOT NULL,
health_dept_id int NOT NULL,
address_id int NOT NULL,
nysdoh_gazetteer_id int NOT NULL,
facility_name varchar(500) NOT NULL,
PRIMARY KEY(facility_id),
FOREIGN KEY(permission_id) REFERENCES permissions,
FOREIGN KEY(location_id) REFERENCES locations,
FOREIGN KEY(health_dept_id) REFERENCES local_health_department,
FOREIGN KEY(address_id) REFERENCES addresses,
FOREIGN KEY(nysdoh_gazetteer_id) REFERENCES nysdoh_gazetteer(nysdoh_gazetteer_id)
);

CREATE TABLE records(
record_id int,
inspection_id int NOT NULL,
facility_id int NOT NULL,
PRIMARY KEY(record_id),
FOREIGN KEY(inspection_id) REFERENCES inspections,
FOREIGN KEY(facility_id) REFERENCES facilities
);
"""

# Execute the statement to create tables
connection.execute(stmt)

In [4]:
# Load the csv file in a dataframe, df
df = pd.read_csv('Food_Service_Establishment__Last_Inspection.csv')
#df.head()
#df.info()

In [5]:
df.columns = map(str.lower, df.columns)
#df.head()

In [6]:
df.columns

Index(['facility', 'address', 'last inspected', 'violations',
       'total # critical violations', 'total #crit.  not corrected ',
       'total # noncritical violations', 'description',
       ' local health department', 'county', 'facility address', 'city',
       'zip code', 'nysdoh gazetteer (1980)', 'municipality', 'operation name',
       'permit expiration date', 'permitted  (d/b/a)', 'permitted  corp. name',
       'perm. operator last name', 'perm. operator first name',
       'nys health operation id', 'inspection type', 'inspection comments',
       'food service facility state', 'location1'],
      dtype='object')

In [7]:
#df.nunique()
ure=pd.DataFrame(df.nunique())
ure.head()

                                 0
facility                     20776
address                      21192
last inspected                1196
violations                    6386
total # critical violations     15

In [8]:
nare=pd.DataFrame(df.isnull().sum())
nare.head()

                               0
facility                       0
address                        0
last inspected                 0
violations                     0
total # critical violations  113

In [9]:
# Create a subset of df corresponding to the violation_items table.
item=df['violations'].str.split('-',n=1,expand=True)[0]
des=df['violations'].str.split('-',n=1,expand=True)[1]
df_ite=pd.DataFrame()
df_ite.loc[:,'violation_item']=item
df_ite.loc[:,'item_description']=des
#df_ite.nunique()
df_ite[df_ite.duplicated()]
df_ite=df_ite.drop_duplicates(subset=['violation_item','item_description'],keep='last')
df_ite.insert(0, 'violation_item_id', range(1, 1 + len(df_ite)))
df_ite.head()

,violation_item_id,violation_item,item_description
27,1,Item 8A,"Food not protected during storage, preparat..."
28,2,Item 2E,Critical Violation [RED] Accurate thermomete...
41,3,Item 1B,"Critical Violation [RED] Water/ice: unsafe, ..."
45,4,Item 4A,Critical Violation [RED] Toxic chemicals are...
72,5,Item 8A,"Food not protected during storage, preparat..."

In [10]:
# Create a new column with incrementing integer numbers for violation_id 
df.insert(0, 'violation_id', range(1, 1 + len(df)))
# Create a subset of df corresponding to the violations database table.
df_vio=df[['violation_id','violations','total # critical violations','total #crit.  not corrected ',
           'total # noncritical violations']]
df_vio.head()

,violation_id,violations,total # critical violations,total #crit. not corrected,total # noncritical violations
0,1,Item 10B- Non-food contact surfaces and equi...,0.0,0.0,2.0
1,2,No violations found.,0.0,0.0,0.0
2,3,No violations found.,0.0,0.0,0.0
3,4,"Item 12D- Toilet facilities inadequate, inco...",0.0,0.0,3.0
4,5,No violations found.,0.0,0.0,0.0

In [11]:
df_vio.loc[:,'violation_item']=item
df_vio=df_vio.drop(columns=['violations'])
# Add 'violation_item_id'
key=df_ite['violation_item']
values=df_ite['violation_item_id']
d=dict(zip(key,values))

def map_item(x):
    return d[x]
df_vio['violation_item_id']=df_vio['violation_item'].map(map_item)

df_vio=df_vio.drop(columns=['violation_item'])
df_vio.head()

/usr/local/lib/python3.4/dist-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.4/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,violation_id,total # critical violations,total #crit. not corrected,total # noncritical violations,violation_item_id
0,1,0.0,0.0,2.0,6386
1,2,0.0,0.0,0.0,6384
2,3,0.0,0.0,0.0,6384
3,4,0.0,0.0,3.0,6323
4,5,0.0,0.0,0.0,6384

In [12]:
# Create a subset of df corresponding to the operations database table.
df_ope=df[['nys health operation id','operation name','perm. operator last name', 
           'perm. operator first name','description']]
# check duplicates, remove duplicates
df_ope[df_ope.duplicated()]
df_ope=df_ope.drop_duplicates(subset=['nys health operation id','operation name','perm. operator last name', 
           'perm. operator first name','description'],keep='last')
# insert a unique ID
df_ope.insert(0, 'operation_id', range(1, 1 + len(df_ope)))

df_ope.head()

,operation_id,nys health operation id,operation name,perm. operator last name,perm. operator first name,description
0,1,914572,Villa Roma Pizzeria,Villeda,Ferdy,Food Service Establishment - Food Service Esta...
1,2,720760,Shepherd's Kitchen,Hubbard,Mavoureen,Food Service Establishment - Food Service Esta...
2,3,601055,Tony's Newburgh Lunch,Tsangarakis,Antonius,Food Service Establishment - Food Service Esta...
3,4,751474,Village Pizzeria,Brancato,Salvatore,Food Service Establishment - Food Service Esta...
4,5,311640,Frozen Desert,NaN,NaN,Food Service Establishment - Frozen Desserts

In [13]:
# match 'operation_id' in table inspections to operations
df=df.merge(df_ope,on=['nys health operation id','operation name','perm. operator last name', 
           'perm. operator first name','description'],how='outer')
#df.info()
#df.head()

In [14]:
# Create a subset of df corresponding to the inspections database table.
df_ins=df[['inspection type', 'inspection comments','last inspected','operation_id','violation_id']]
# check duplicates, remove duplicates
df_ins[df_ins.duplicated()]
df_ins=df_ins.drop_duplicates(subset=['inspection type', 'inspection comments','last inspected','operation_id','violation_id'],keep='last')
# insert a unique ID
df_ins.insert(0, 'inspection_id', range(1, 1 + len(df_ins)))
df_ins.head()

,inspection_id,inspection type,inspection comments,last inspected,operation_id,violation_id
0,1,Inspection,NaN,06/25/2018,1,1
1,2,Inspection,NaN,06/30/2018,2,2
2,3,Re-Inspection,NaN,07/12/2018,3,3
3,4,Re-Inspection,NaN,07/06/2018,4,4
4,5,Inspection,NaN,03/24/2017,5,5

In [15]:
# Create a subset of df corresponding to the permissions database table.
df_per=df[['permit expiration date', 'permitted  (d/b/a)', 'permitted  corp. name']]
# check duplicates, remove duplicates
df_per[df_per.duplicated()]
df_per=df_per.drop_duplicates(subset=['permit expiration date', 'permitted  (d/b/a)', 'permitted  corp. name'],keep='last')
# insert a unique ID
df_per.insert(0, 'permission_id', range(1, 1 + len(df_per)))
df_per.head()

,permission_id,permit expiration date,permitted (d/b/a),permitted corp. name
0,1,10/31/2018,NaN,Villa Roma Pizzeria Inc.
1,2,10/31/2018,NaN,The Church of the Good Shepherd
2,3,10/31/2018,NaN,"Tony's Newburgh Lunch, Inc."
3,4,09/30/2018,NaN,Village Pizzeria of Goshen LLC
5,5,09/30/2018,NaN,Rocco-N-Motts LLC

In [16]:
# Create a subset of df corresponding to the nysdoh_gazetteer database table.
df_gaz=df[['nysdoh gazetteer (1980)', 'municipality']]
# check duplicates, remove duplicates
df_gaz[df_gaz.duplicated()]
df_gaz=df_gaz.drop_duplicates(subset=['nysdoh gazetteer (1980)', 'municipality'],keep='last')
# insert a unique ID
df_gaz.insert(0, 'nysdoh_gazetteer_id', range(1, 1 + len(df_gaz)))
len(df_gaz)
# match 'nysdoh_gazetteer_id'
df=df.merge(df_gaz, on=['nysdoh gazetteer (1980)', 'municipality'],how='outer')

In [17]:
# Create a subset of df corresponding to the addresses database table.
df_add=df[['address', 'city','county','zip code']]
# check duplicates, remove duplicates
df_add[df_add.duplicated()]
df_add=df_add.drop_duplicates(subset=['address', 'city','county','zip code'],keep='last')
# insert a unique ID
df_add.insert(0, 'address_id', range(1, 1 + len(df_add)))
len(df_add)

21231

In [18]:
# Create a subset of df corresponding to the locations database table.
df_loc=df['location1']
df_loc=pd.DataFrame(df_loc)
# check duplicates, remove duplicates
df_loc[df_loc.duplicated()]
df_loc=df_loc.drop_duplicates(keep='last')
df_loc
# insert a unique ID
df_loc.insert(0, 'location_id', range(1, 1 + len(df_loc)))
df_loc.head()

   location_id                location1
1            1  (41.488774, -74.025302)
2            2  (41.454769, -74.079132)
5            3   (41.465265, -74.01943)
6            4   (41.48096, -74.049648)
8            5  (41.486156, -74.093152)

In [19]:
# Create a subset of df corresponding to the local_health_department database table.
df_hea=df[' local health department']
df_hea=pd.DataFrame(df_hea)
# check duplicates, remove duplicates
df_hea[df_hea.duplicated()]
df_hea=df_hea.drop_duplicates(keep='last')
df_hea
# insert a unique ID
df_hea.insert(0, 'health_dept_id', range(1, 1 + len(df_hea)))
df_hea.head()
len(df_hea)

43

In [20]:
# match 'permission_id' in table permissions to operations
df=df.merge(df_per,on=['permit expiration date', 'permitted  (d/b/a)', 'permitted  corp. name'],how='outer')
# match 'location_id'
df=df.merge(df_loc,on='location1',how='outer')
# match 'health_dept_id'
df=df.merge(df_hea,on=' local health department',how='outer')
# match 'address_id' 
df=df.merge(df_add, on=['address', 'city','county','zip code'],how='outer')

# match 'inspection_id'
df=df.merge(df_ins,on=['inspection type', 'inspection comments','last inspected','operation_id'],how='outer')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24255 entries, 0 to 24254
Data columns (total 35 columns):
violation_id_x                    24255 non-null int64
facility                          24255 non-null object
address                           24255 non-null object
last inspected                    24255 non-null object
violations                        24255 non-null object
total # critical violations       24139 non-null float64
total #crit.  not corrected       24139 non-null float64
total # noncritical violations    24139 non-null float64
description                       24255 non-null object
 local health department          24255 non-null object
county                            24255 non-null object
facility address                  24254 non-null object
city                              24251 non-null object
zip code                          24251 non-null object
nysdoh gazetteer (1980)           24255 non-null int64
municipality                      24255 non-null object
operation name                    24255 non-null object
permit expiration date            23529 non-null object
permitted  (d/b/a)                2713 non-null object
permitted  corp. name             16914 non-null object
perm. operator last name          18116 non-null object
perm. operator first name         18059 non-null object
nys health operation id           24255 non-null int64
inspection type                   24255 non-null object
inspection comments               15371 non-null object
food service facility state       24255 non-null object
location1                         24255 non-null object
operation_id                      24255 non-null int64
nysdoh_gazetteer_id               24255 non-null int64
permission_id                     24255 non-null int64
location_id                       24255 non-null int64
health_dept_id                    24255 non-null int64
address_id                        24255 non-null int64
inspection_id                     24255 non-null int64
violation_id_y                    24255 non-null int64
dtypes: float64(3), int64(11), object(21)
memory usage: 6.7+ MB

In [21]:
# Create a subset of df corresponding to the facilities database table.
df_fac=df[['permission_id','location_id','health_dept_id','address_id','nysdoh_gazetteer_id','facility']]
# check duplicates, remove duplicates
df_fac[df_fac.duplicated()]
df_fac=df_fac.drop_duplicates(subset=['permission_id','location_id','health_dept_id','address_id','nysdoh_gazetteer_id','facility'],keep='last')
# insert a unique ID
df_fac.insert(0, 'facility_id', range(1, 1 + len(df_fac)))
df_fac.head()
len(df_fac)

23269

In [22]:
# match 'facility_id'
df=df.merge(df_fac,on=['permission_id','location_id','health_dept_id','address_id',
                       'nysdoh_gazetteer_id','facility'],how='outer')

In [23]:
# Create a subset of df corresponding to the records database table.
df_rec=df[['inspection_id','facility_id']]
# check duplicates, remove duplicates
df_rec[df_rec.duplicated()]
df_rec=df_rec.drop_duplicates(subset=['inspection_id','facility_id'],keep='last')
# insert a unique ID
df_rec.insert(0, 'record_id', range(1, 1 + len(df_rec)))
df_rec.head()
len(df_rec)

24211

In [27]:
# Load data to the database
df_ite.columns=['violation_item_id','violation_item','item_description']
df_ite.to_sql(name='violation_items', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "violation_items_pkey"
DETAIL:  Key (violation_item_id)=(1) already exists.
 [SQL: 'INSERT INTO violation_items (violation_item_id, violation_item, item_description) VALUES (%(violation_item_id)s, %(violation_item)s, %(item_description)s)'] [parameters: ({'violation_item_id': 1, 'violation_item': 'Item  8A', 'item_description': '   Food not protected during storage, preparation, display, transportation and service, from potential sources of contamination (e.g., food uncovered ... (320 characters truncated) ... ng, surface not smooth finish); Item 12C-   Plumbing and sinks not properly sized, installed, maintained; equipment and floors not properly drained; '}, {'violation_item_id': 2, 'violation_item': 'Item  2E', 'item_description': '  Critical Violation [RED] Accurate thermometers not available or used to evaluate potentially hazardous food temperatures during cooking, cooling, r ... (228 characters truncated) ... n food contact surfaces of equipment not clean; Item 15A-   Floors, walls, ceilings, not smooth, properly constructed, in disrepair, dirty surfaces; '}, {'violation_item_id': 3, 'violation_item': 'Item  1B', 'item_description': '  Critical Violation [RED] Water/ice: unsafe, unapproved sources, cross connections; Item 11B-   Wiping cloths dirty, not stored properly in sanitizing solutions; '}, {'violation_item_id': 4, 'violation_item': 'Item  4A', 'item_description': '  Critical Violation [RED] Toxic chemicals are improperly labeled, stored or used so that contamination of food can occur.; Item  8A-   Food not prot ... (166 characters truncated) ... ssing or inadequate sneeze guards, food containers double stacked); Item  8C-   Improper use and storage of clean, sanitized equipment and utensils; '}, {'violation_item_id': 5, 'violation_item': 'Item  8A', 'item_description': '   Food not protected during storage, preparation, display, transportation and service, from potential sources of contamination (e.g., food uncovered ... (559 characters truncated) ...  service towels or hand drying devices missing; Item 15A-   Floors, walls, ceilings, not smooth, properly constructed, in disrepair, dirty surfaces; '}, {'violation_item_id': 6, 'violation_item': 'Item  8A', 'item_description': '   Food not protected during storage, preparation, display, transportation and service, from potential sources of contamination (e.g., food uncovered ... (727 characters truncated) ... vailable for rodents, insects and other vermin; Item 15A-   Floors, walls, ceilings, not smooth, properly constructed, in disrepair, dirty surfaces; '}, {'violation_item_id': 7, 'violation_item': 'Item  6A', 'item_description': '  Critical Violation [RED] Potentially hazardous foods are not kept at or above 140oF during hot holding.; Item  8A-   Food not protected during stor ... (561 characters truncated) ...  service towels or hand drying devices missing; Item 15A-   Floors, walls, ceilings, not smooth, properly constructed, in disrepair, dirty surfaces; '}, {'violation_item_id': 8, 'violation_item': 'Item  1B', 'item_description': '  Critical Violation [RED] Water/ice: unsafe, unapproved sources, cross connections; Item 11D-   Non food contact surfaces of equipment not clean; Item 16-   Miscellaneous, Economic Violation, Choking Poster, Training.; Item 16-   Miscellaneous, Economic Violation, Choking Poster, Training.; '}  ... displaying 10 of 6386 total bound parameter sets ...  {'violation_item_id': 6385, 'violation_item': 'Item 15A', 'item_description': '   Floors, walls, ceilings, not smooth, properly constructed, in disrepair, dirty surfaces; '}, {'violation_item_id': 6386, 'violation_item': 'Item 10B', 'item_description': '   Non-food contact surfaces and equipment are improperly designed, constructed, installed, maintained (equipment not readily accessible for cleaning, surface not smooth finish); Item 12C-   Plumbing and sinks not properly sized, installed, maintained; equipment and floors not properly drained; '})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [26]:
# Load data to the database
df_vio.columns=['violation_id','critical_violations','critical_not_corrected','noncritical_violations','violation_item_id']
df_vio.to_sql(name='violations', con=engine, if_exists='append', index=False)

In [27]:
# Load data to the database
df_ope.columns=['operation_id','nys_operation_id','operation_name','operator_last_name' ,'operator_first_name' ,'description']
df_ope.to_sql(name='operations', con=engine, if_exists='append', index=False)

In [28]:
# Load inspection data to the database
df_ins.columns=['inspection_id','inspection_type','inspection_comments','last_inspected_date','operation_id','violation_id' ]
df_ins.to_sql(name='inspections', con=engine, if_exists='append', index=False)

In [24]:
# Load data to the database
df_per.columns=['permission_id','permit_expiration_date','permit_dba','permitted_corp_name']
df_per.to_sql(name='permissions', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "permissions_pkey"
DETAIL:  Key (permission_id)=(1) already exists.
 [SQL: 'INSERT INTO permissions (permission_id, permit_expiration_date, permit_dba, permitted_corp_name) VALUES (%(permission_id)s, %(permit_expiration_date)s, %(permit_dba)s, %(permitted_corp_name)s)'] [parameters: ({'permit_expiration_date': '10/31/2018', 'permission_id': 1, 'permitted_corp_name': 'Villa Roma Pizzeria Inc.', 'permit_dba': None}, {'permit_expiration_date': '10/31/2018', 'permission_id': 2, 'permitted_corp_name': 'The Church of the Good Shepherd', 'permit_dba': None}, {'permit_expiration_date': '10/31/2018', 'permission_id': 3, 'permitted_corp_name': "Tony's Newburgh Lunch, Inc.", 'permit_dba': None}, {'permit_expiration_date': '09/30/2018', 'permission_id': 4, 'permitted_corp_name': 'Village Pizzeria of Goshen LLC', 'permit_dba': None}, {'permit_expiration_date': '09/30/2018', 'permission_id': 5, 'permitted_corp_name': 'Rocco-N-Motts LLC', 'permit_dba': None}, {'permit_expiration_date': '10/31/2018', 'permission_id': 6, 'permitted_corp_name': 'TD Peterkin Dav Chapter 152', 'permit_dba': None}, {'permit_expiration_date': '10/31/2018', 'permission_id': 7, 'permitted_corp_name': 'Cornerstone Family Healthcare', 'permit_dba': None}, {'permit_expiration_date': '06/30/2019', 'permission_id': 8, 'permitted_corp_name': 'Greenwood Bridge LLC', 'permit_dba': None}  ... displaying 10 of 15127 total bound parameter sets ...  {'permit_expiration_date': '03/31/2019', 'permission_id': 15126, 'permitted_corp_name': '329 SUNRISE CORP', 'permit_dba': 'GOLDEN REEF'}, {'permit_expiration_date': '03/31/2019', 'permission_id': 15127, 'permitted_corp_name': None, 'permit_dba': None})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [25]:
# Load data to the database
df_gaz.columns=['nysdoh_gazetteer_id','nysdoh_gazetteer','municipality']
df_gaz.to_sql(name='nysdoh_gazetteer', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "nysdoh_gazetteer_pkey"
DETAIL:  Key (nysdoh_gazetteer_id)=(1) already exists.
 [SQL: 'INSERT INTO nysdoh_gazetteer (nysdoh_gazetteer_id, nysdoh_gazetteer, municipality) VALUES (%(nysdoh_gazetteer_id)s, %(nysdoh_gazetteer)s, %(municipality)s)'] [parameters: ({'municipality': 'BARRINGTON', 'nysdoh_gazetteer_id': 1, 'nysdoh_gazetteer': 615000}, {'municipality': 'RUSHFORD', 'nysdoh_gazetteer_id': 2, 'nysdoh_gazetteer': 27200}, {'municipality': 'OTSELIC', 'nysdoh_gazetteer_id': 3, 'nysdoh_gazetteer': 86205}, {'municipality': 'SHARON', 'nysdoh_gazetteer_id': 4, 'nysdoh_gazetteer': 476306}, {'municipality': 'N. HEMPSTEAD', 'nysdoh_gazetteer_id': 5, 'nysdoh_gazetteer': 293300}, {'municipality': 'EDINBURG', 'nysdoh_gazetteer_id': 6, 'nysdoh_gazetteer': 455500}, {'municipality': 'NISKAYUNA', 'nysdoh_gazetteer_id': 7, 'nysdoh_gazetteer': 465200}, {'municipality': 'HARRISBURG', 'nysdoh_gazetteer_id': 8, 'nysdoh_gazetteer': 245400}  ... displaying 10 of 1344 total bound parameter sets ...  {'municipality': 'HEMPSTEAD', 'nysdoh_gazetteer_id': 1343, 'nysdoh_gazetteer': 290900}, {'municipality': 'AUBURN', 'nysdoh_gazetteer_id': 1344, 'nysdoh_gazetteer': 50100})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [26]:
# Load data to the database
df_add.columns=['address_id',
'street_address' ,
'city',
'county',
'zipcode']
df_add.to_sql(name='addresses', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "addresses_pkey"
DETAIL:  Key (address_id)=(1) already exists.
 [SQL: 'INSERT INTO addresses (address_id, street_address, city, county, zipcode) VALUES (%(address_id)s, %(street_address)s, %(city)s, %(county)s, %(zipcode)s)'] [parameters: ({'county': 'ORANGE', 'street_address': '30 LAWRENCE  AVENUE,  NEW WINDSOR', 'address_id': 1, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}, {'county': 'ORANGE', 'street_address': '660 MT.  AIRY ROAD,  NEW WINDSOR', 'address_id': 2, 'city': 'NEW WINDSOR', 'zipcode': '12550    '}, {'county': 'ORANGE', 'street_address': '374 WINDSOR STE. 200 HIGHWAY,  VAILS GATE', 'address_id': 3, 'city': 'VAILS GATE', 'zipcode': '12584    '}, {'county': 'ORANGE', 'street_address': '2956 ROUTE 9W,  NEW WINDSOR', 'address_id': 4, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}, {'county': 'ORANGE', 'street_address': '405 UNION AVENUE,  NEW WINDSOR', 'address_id': 5, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}, {'county': 'ORANGE', 'street_address': '1035 LITTLE BRITAIN ROAD,  NEW WINDSOR', 'address_id': 6, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}, {'county': 'ORANGE', 'street_address': '176 WINDSOR HIGHWAY,  NEW WINDSOR', 'address_id': 7, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}, {'county': 'ORANGE', 'street_address': '2922 ROUTE 9W SOUTH,  NEW WINDSOR', 'address_id': 8, 'city': 'NEW WINDSOR', 'zipcode': '12553    '}  ... displaying 10 of 21231 total bound parameter sets ...  {'county': 'ST LAWRENCE', 'street_address': '334 County Route 16,  Canton', 'address_id': 21230, 'city': 'Canton', 'zipcode': '13617    '}, {'county': 'MONROE', 'street_address': '940  NORTH  ROAD,  SCOTTSVILLE', 'address_id': 21231, 'city': 'SCOTTSVILLE', 'zipcode': '14546    '})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# Load data to the database
df_loc.columns=['location_id',
'longitude_and_latitude']
df_loc.to_sql(name='locations', con=engine, if_exists='append', index=False)

In [ ]:
# Load data to the database
df_hea.columns=['health_dept_id',
'health_dept_name']
df_hea.to_sql(name='local_health_department', con=engine, if_exists='append', index=False)

In [ ]:
# Load data to the database
df_fac.columns=['facility_id',
'permission_id',
'location_id',
'health_dept_id' ,
'address_id',
'nysdoh_gazetteer_id',
'facility_name']
df_fac.to_sql(name='facilities', con=engine, if_exists='append', index=False)

In [ ]:
# Load data to the database
df_rec.columns=['record_id',
'inspection_id',
'facility_id']
df_rec.to_sql(name='records', con=engine, if_exists='append', index=False)